.app-wrapper {
    margin: 0 auto;
    width: 950px;

}

.app-wrapper-content {
    grid-area: c;
    background-color: red;

}

.wrapperContent {
    display: flex;
    justify-content: space-between;
}


